{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12 wrapper">
            <h1>Všechny pozice ve firmě xxx</h1>
            <small class="text-muted">Zobrazeno {{ jobsCollection.entriesFrom}} až {{ jobsCollection.entriesTo }} inzerátů z {{ jobsCollection.total }}</small>
            {% for job in jobsCollection.jobs %}
                {# @var \App\Integrations\Recruitis\DataObject\Jobs\Job job #}
                <div class="job-card">
                    <h2>{{ job.title}}</h2>
                    {% for address in job.addresses %}<span class="tag icon-address">{{ address.city }}</span>{% endfor %}
                    {% for workfield in job.workfields %}<span class="tag icon-work">{{ workfield.name }}</span>{% endfor %}
                    <span class="tag icon-tag">{{ job.suitableForString }}</span>
                    {% if job.salary is not null %}
                        <span class="tag icon-salary">{{ job.salary.min|number_format }}&nbsp;&ndash;&nbsp;{{ job.salary.max|number_format }} {{ job.salary.currency }} / {{ job.salary.unit }}</span>
                    {% endif %}
                    {% if job.education is not null %}
                        <span class="tag icon-education">{{ job.education.name }}</span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

    </div>


{% endblock %}

