{% extends 'base.html.twig' %}
{% block title %}Kariéra{% endblock %}
{% block body %}
    <div class="row header">
        <h1>Nábor nových klonů ve firmě <span class="company-name">ICA - International Contract Agency</span></h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <small class="text-muted text-right">Zobrazeno {{ jobs.entriesFrom}} až {{ jobs.entriesTo }} inzerátů z {{ jobs.totalEntries}}</small>
            <div class="list">
                {% for job in jobs.items %}
                    {# @var \App\Integrations\Recruitis\DataObject\Jobs\Job job #}
                    <div class="job-card">
                        <h2>{{ job.title}}</h2>
                        {% for address in job.addresses %}
                            {% if address.city %}<span class="tag icon-address">{{ address.city }}</span>{% endif %}
                        {% endfor %}
                        {% for workfield in job.workfields %}
                            {% if workfield.name %}<span class="tag icon-work">{{ workfield.name }}</span>{% endif %}
                        {% endfor %}
                        {% if job.suitableForString %}
                            <span class="tag icon-tag">{{ job.suitableForString }}</span>
                        {% endif %}
                        {% if job.salary is not null and job.salary.visible%}
                            <span class="tag icon-salary">
                            {% if job.salary.minVisible %}
                                {{ job.salary.min|number_format }}
                            {% endif %}
                            {% if job.salary.minVisible and job.salary.maxVisible %}
                                &nbsp;&ndash;&nbsp;
                            {% endif %}
                            {% if job.salary.maxVisible %}
                                {{ job.salary.max|number_format }}
                            {% endif %}
                            {{ job.salary.currency }} / {{ job.salary.unit }}</span>
                        {% endif %}
                        {% if job.education is not null %}
                            <span class="tag icon-education">{{ job.education.name }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% if jobs.items|length > 0 %}
                    {% include 'pagination.html.twig' with { 'paginationInterface': jobs } %}
                {% else %}
                    <p>Žádné pozice nebyly nalezeny. Zkuste to na <a href="{{ path('jobs_all', {'page':1}) }}">první stránce</a></p>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}


